global
  chroot  /var/lib/haproxy
  daemon
  group  haproxy
  maxconn  4000
  pidfile  /var/run/haproxy.pid
  user  haproxy

defaults
  log  global
  maxconn  4000
  option  redispatch
  retries  3
  timeout  http-request 10s
  timeout  queue 1m
  timeout  connect 10s
  timeout  client 1m
  timeout  server 1m
  timeout  check 10s

{% if horizon_hosts is defined %}
listen horizon
  bind *:80
  balance  source
  option  tcpka
  option  httpchk
  option  tcplog
  {% for host in horizon_hosts %}
  server {{ host }} {{ host}}:80 check inter 2000 rise 2 fall 5
  {% endfor %}
{% endif %}

{% if horizon_hosts is defined %}
listen horizon_ssl
  bind *:443
  balance  source
  option  tcpka
  option  httpchk
  option  tcplog
  {% for host in horizon_hosts %}
  server {{ host }} {{ host}}:443 check inter 2000 rise 2 fall 5
  {% endfor %}
{% endif %}

{% if mysql_hosts is defined %}
listen mysql
  bind *:3306
  balance  source
  option  mysql-check
  {% for host in mysql_hosts %}
  server {{ host }} {{ host }}:3306 check port 9200 inter 2000 rise 2 fall 5
  {% endfor %}
{% endif %}

{% if redis_hosts is defined %}
listen redis
  bind *:6379
  balance  source
  option  tcpka
  option  httpchk
  option  tcplog
  {% for host in redis_hosts %}
  server {{ host }} {{ host }}:6379 check port 9200 inter 2000 rise 2 fall 5
  {% endfor %}
{% endif %}

{% if glance_hosts is defined %}
listen glance_api
  bind *:9292
  balance  source
  option  tcpka
  option  httpchk
  option  tcplog
  {% for host in glance_hosts %}
  server {{ host }} {{ host }}:9292 check inter 2000 rise 2 fall 5
  {% endfor %}
{% endif %}

{% if glance_hosts is defined %}
listen glance_registry
  bind *:9191
  balance  source
  option  tcpka
  option  tcplog
  {% for host in glance_hosts %}
  server {{ host }} {{ host }}:9191 check inter 2000 rise 2 fall 5
  {% endfor %}
{% endif %}

{% if keystone_hosts is defined %}
listen keystone_admin
  bind *:35357
  balance  source
  option  tcpka
  option  httpchk
  option  tcplog
  {% for host in keystone_hosts %}
  server {{ host }} {{ host }}:35357 check inter 2000 rise 2 fall 5
  {% endfor %}
{% endif %}

{% if keystone_hosts is defined %}
listen keystone_public_internal
  bind *:5000
  balance  source
  option  tcpka
  option  httpchk
  option  tcplog
  {% for host in keystone_hosts %}
  server {{ host }} {{ host }}:5000 check inter 2000 rise 2 fall 5
  {% endfor %}
{% endif %}

{% if nova_hosts is defined %}
listen nova_ec2_api
  bind *:8773
  balance  source
  option  tcpka
  option  tcplog
  {% for host in nova_hosts %}
  server {{ host }} {{ host }}:8773 check inter 2000 rise 2 fall 5
  {% endfor %}
{% endif %}

{% if nova_hosts is defined %}
listen nova_compute_api
  bind *:8774
  balance  source
  option  tcpka
  option  httpchk
  option  tcplog
  {% for host in nova_hosts %}
  server {{ host }} {{ host }}:8774 check inter 2000 rise 2 fall 5
  {% endfor %}
{% endif %}

{% if nova_hosts is defined %}
listen nova_metadata_api
  bind *:8775
  balance  source
  option  tcpka
  option  tcplog
  {% for host in nova_hosts %}
  server {{ host }} {{ host }}:8775 check inter 2000 rise 2 fall 5
  {% endfor %}
{% endif %}

{% if cinder_hosts is defined %}
listen cinder_api
  bind *:8776
  balance  source
  option  tcpka
  option  httpchk
  option  tcplog
  {% for host in cinder_hosts %}
  server {{ host }} {{ host }}:8776 check inter 2000 rise 2 fall 5
  {% endfor %}
{% endif %}

{% if ceilometer_hosts is defined %}
listen ceilometer_api
  bind *:8777
  balance  source
  option  tcpka
  option  tcplog
  {% for host in ceilometer_hosts %}
  server {{ host }} {{ host }}:8777 check inter 2000 rise 2 fall 5
  {% endfor %}
{% endif %}

{% if nova_hosts is defined %}
listen nova_vncproxy
  bind *:6080
  balance  source
  option  tcpka
  option  tcplog
  {% for host in nova_hosts %}
  server {{ host }} {{ host }}:6080 check inter 2000 rise 2 fall 5
  {% endfor %}
{% endif %}

{% if neutron_hosts is defined %}
listen neutron_api
  bind *:9696
  balance  source
  option  tcpka
  option  httpchk
  option  tcplog
  {% for host in neutron_hosts %}
  server {{ host }} {{ host }}:9696 check inter 2000 rise 2 fall 5
  {% endfor %}
{% endif %}

{% if swift_hosts is defined %}
listen swift_proxy
  bind *:8080
  balance  source
  option  tcplog
  option  tcpka
  {% for host in swift_hosts %}
  server {{ host }} {{ host }}:8080 check inter 2000 rise 2 fall 5
  {% endfor %}
{% endif %}

{% if heat_hosts is defined %}
listen heat
  bind *:8004
  balance  source
  option  tcplog
  option  tcpka
  {% for host in heat_hosts %}
  server {{ host }} {{ host }}:8004 check inter 2000 rise 2 fall 5
  {% endfor %}
{% endif %}

{% if aodh_hosts is defined %}
listen aodh
  bind *:8042
  balance  source
  option  tcplog
  option  tcpka
  {% for host in aodh_hosts %}
  server {{ host }} {{ host }}:8042 check inter 2000 rise 2 fall 5
  {% endfor %}
{% endif %}

{% if designate_hosts is defined %}
listen heat
  bind *:9001
  balance  source
  option  tcplog
  option  tcpka
  {% for host in designate_hosts %}
  server {{ host }} {{ host }}:9001 check inter 2000 rise 2 fall 5
  {% endfor %}
{% endif %}
